.f34r-bg-n-txt {
    background-color: rgba(0, 150, 136, 0.7);
    color: white;
}

.f34r-txt-white {
    color: white;
}

.f34r-txt-black {
    color: black;
}

.f34r-txt-think {
    color: rgba(0, 150, 136, 0.7)
}