/* thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Sarabun Thin Italic'), local('Sarabun-ThinItalic'), url("../../font/Sarabun/thai/DtVnJx26TKEr37c9aBBx_kwfzg3upg.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Sarabun Thin Italic'), local('Sarabun-ThinItalic'), url("../../font/Sarabun/latin-ext/DtVnJx26TKEr37c9aBBx_kwFzg3upg.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Sarabun Thin Italic'), local('Sarabun-ThinItalic'), url("../../font/Sarabun/latin/DtVnJx26TKEr37c9aBBx_kwLzg0.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: local('Sarabun ExtraLight Italic'), local('Sarabun-ExtraLightItalic'), url("../../font/Sarabun/thai/DtVkJx26TKEr37c9aBBxUl0c_SjTnwE.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: local('Sarabun ExtraLight Italic'), local('Sarabun-ExtraLightItalic'), url("../../font/Sarabun/latin-ext/DtVkJx26TKEr37c9aBBxUl0c5yjTnwE.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: local('Sarabun ExtraLight Italic'), local('Sarabun-ExtraLightItalic'), url("../../font/Sarabun/latin/DtVkJx26TKEr37c9aBBxUl0c6SjT.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Sarabun Light Italic'), local('Sarabun-LightItalic'), url("../../font/Sarabun/thai/DtVkJx26TKEr37c9aBBxNl4c_SjTnwE.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Sarabun Light Italic'), local('Sarabun-LightItalic'), url("../../font/Sarabun/latin-ext/DtVkJx26TKEr37c9aBBxNl4c5yjTnwE.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Sarabun Light Italic'), local('Sarabun-LightItalic'), url("../../font/Sarabun/latin/DtVkJx26TKEr37c9aBBxNl4c6SjT.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Sarabun Italic'), local('Sarabun-Italic'), url("../../font/Sarabun/thai/DtVhJx26TKEr37c9aBB5iXwJ1gk.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Sarabun Italic'), local('Sarabun-Italic'), url("../../font/Sarabun/latin-ext/DtVhJx26TKEr37c9aBB5k3wJ1gk.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Sarabun Italic'), local('Sarabun-Italic'), url("../../font/Sarabun/latin/DtVhJx26TKEr37c9aBB5nXwJ.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Sarabun Medium Italic'), local('Sarabun-MediumItalic'), url("../../font/Sarabun/thai/DtVkJx26TKEr37c9aBBxbl8c_SjTnwE.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Sarabun Medium Italic'), local('Sarabun-MediumItalic'), url("../../font/Sarabun/latin-ext/DtVkJx26TKEr37c9aBBxbl8c5yjTnwE.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Sarabun Medium Italic'), local('Sarabun-MediumItalic'), url("../../font/Sarabun/latin/DtVkJx26TKEr37c9aBBxbl8c6SjT.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('Sarabun SemiBold Italic'), local('Sarabun-SemiBoldItalic'), url("../../font/Sarabun/thai/DtVkJx26TKEr37c9aBBxQlgc_SjTnwE.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('Sarabun SemiBold Italic'), local('Sarabun-SemiBoldItalic'), url("../../font/Sarabun/latin-ext/DtVkJx26TKEr37c9aBBxQlgc5yjTnwE.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('Sarabun SemiBold Italic'), local('Sarabun-SemiBoldItalic'), url("../../font/Sarabun/latin/DtVkJx26TKEr37c9aBBxQlgc6SjT.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Sarabun Bold Italic'), local('Sarabun-BoldItalic'), url("../../font/Sarabun/thai/DtVkJx26TKEr37c9aBBxJlkc_SjTnwE.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Sarabun Bold Italic'), local('Sarabun-BoldItalic'), url("../../font/Sarabun/latin-ext/DtVkJx26TKEr37c9aBBxJlkc5yjTnwE.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Sarabun Bold Italic'), local('Sarabun-BoldItalic'), url("../../font/Sarabun/latin/DtVkJx26TKEr37c9aBBxJlkc6SjT.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local('Sarabun ExtraBold Italic'), local('Sarabun-ExtraBoldItalic'), url("../../font/Sarabun/thai/DtVkJx26TKEr37c9aBBxOloc_SjTnwE.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local('Sarabun ExtraBold Italic'), local('Sarabun-ExtraBoldItalic'), url("../../font/Sarabun/latin-ext/DtVkJx26TKEr37c9aBBxOloc5yjTnwE.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local('Sarabun ExtraBold Italic'), local('Sarabun-ExtraBoldItalic'), url("../../font/Sarabun/latin/DtVkJx26TKEr37c9aBBxOloc6SjT.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Sarabun Thin'), local('Sarabun-Thin'), url("../../font/Sarabun/thai/DtVhJx26TKEr37c9YHZ5iXwJ1gk.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Sarabun Thin'), local('Sarabun-Thin'), url("../../font/Sarabun/latin-ext/DtVhJx26TKEr37c9YHZ5k3wJ1gk.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Sarabun Thin'), local('Sarabun-Thin'), url("../../font/Sarabun/latin/DtVhJx26TKEr37c9YHZ5nXwJ.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Sarabun ExtraLight'), local('Sarabun-ExtraLight'), url("../../font/Sarabun/thai/DtVmJx26TKEr37c9YNpoik8s6zDX.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Sarabun ExtraLight'), local('Sarabun-ExtraLight'), url("../../font/Sarabun/latin-ext/DtVmJx26TKEr37c9YNpoilUs6zDX.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Sarabun ExtraLight'), local('Sarabun-ExtraLight'), url("../../font/Sarabun/latin/DtVmJx26TKEr37c9YNpoilss6w.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Sarabun Light'), local('Sarabun-Light'), url("../../font/Sarabun/thai/DtVmJx26TKEr37c9YL5rik8s6zDX.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Sarabun Light'), local('Sarabun-Light'), url("../../font/Sarabun/latin-ext/DtVmJx26TKEr37c9YL5rilUs6zDX.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Sarabun Light'), local('Sarabun-Light'), url("../../font/Sarabun/latin/DtVmJx26TKEr37c9YL5rilss6w.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Sarabun Regular'), local('Sarabun-Regular'), url("../../font/Sarabun/thai/DtVjJx26TKEr37c9aAFJn2QN.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Sarabun Regular'), local('Sarabun-Regular'), url("../../font/Sarabun/latin-ext/DtVjJx26TKEr37c9aBtJn2QN.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Sarabun Regular'), local('Sarabun-Regular'), url("../../font/Sarabun/latin/DtVjJx26TKEr37c9aBVJnw.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Sarabun Medium'), local('Sarabun-Medium'), url("../../font/Sarabun/thai/DtVmJx26TKEr37c9YOZqik8s6zDX.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Sarabun Medium'), local('Sarabun-Medium'), url("../../font/Sarabun/latin-ext/DtVmJx26TKEr37c9YOZqilUs6zDX.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Sarabun Medium'), local('Sarabun-Medium'), url("../../font/Sarabun/latin/DtVmJx26TKEr37c9YOZqilss6w.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url("../../font/Sarabun/thai/DtVmJx26TKEr37c9YMptik8s6zDX.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url("../../font/Sarabun/latin-ext/DtVmJx26TKEr37c9YMptilUs6zDX.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url("../../font/Sarabun/latin/DtVmJx26TKEr37c9YMptilss6w.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Sarabun Bold'), local('Sarabun-Bold'), url("../../font/Sarabun/thai/DtVmJx26TKEr37c9YK5sik8s6zDX.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Sarabun Bold'), local('Sarabun-Bold'), url("../../font/Sarabun/latin-ext/DtVmJx26TKEr37c9YK5silUs6zDX.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Sarabun Bold'), local('Sarabun-Bold'), url("../../font/Sarabun/latin/DtVmJx26TKEr37c9YK5silss6w.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* thai */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Sarabun ExtraBold'), local('Sarabun-ExtraBold'), url("../../font/Sarabun/thai/DtVmJx26TKEr37c9YLJvik8s6zDX.woff2") format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Sarabun ExtraBold'), local('Sarabun-ExtraBold'), url("../../font/Sarabun/latin-ext/DtVmJx26TKEr37c9YLJvilUs6zDX.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Sarabun ExtraBold'), local('Sarabun-ExtraBold'), url("../../font/Sarabun/latin/DtVmJx26TKEr37c9YLJvilss6w.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }